@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-principal: #051D3B;
    --cor-font-principal: #C4C4C4;
    --cor-font-cinza: rgba(255, 255, 255, 0.449);
    --cor-background-cinza: #2D415B;
    --cor-background-one: #6BD1FF;
    --cor-botao: #5081FB;
    --cor-botao-hover: #7BA4FC;
    --cor-botao-comunidade: #5081FB14;
    --cor-botao-comunidade-hover: #5081FB29;
    --cor-background-black: #141414;
    --cor-bolinha-vermelho: #FF5F56;
    --cor-bolinha-laranja: #FFBD2E;
    --cor-bolinha-verde: #27C93F;
    --font-family: "Inter", sans-serif;
    --font-family-ro: "Roboto Mono", monospace;
}

/* Estilizando o CAbeçalho */
body {
    background-color: var(--cor-principal);
    font-family: var(--font-family)
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 1.5em 1em 1em;
}

.logo-plataforma {
    width: 180px;
}

.barra-de-busca {
    width: 55em;
    padding: 1.2em;
    font-size: 14px;
    background-color: var(--cor-background-cinza);
    border-radius: 10px;
    border-style: none;
    color: white;
}

.barra-de-busca::placeholder {
    color: var(--cor-font-cinza);
}

.container-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.container-figure:hover {
    background-color: #FFFFFF14;
    border-radius: 10px;
}

.container__figure-img {
    width: 40px;
    height: auto;
}

.container__figure-span {
    padding-left: 0.5em;
    color: var(--cor-font-principal);
}
.nave{
    display: none;
}

/* Section total/principal */
.section-principal {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}

/* Estilizando Aside left */

.aside-left {
    width: 19em;
}

.menu-navegacao-aside {
    color: var(--cor-font-principal);
    font-weight: 300;
    font-size: 12px;
    padding-left: 3em;
}

.lista-menu-container {
    margin: 1em 2em;
    list-style: none;
}

.lista-menu-item {
    padding-bottom: 1em;
    list-style: none;
}

.button-list-one,
.button-list-two {
    background-color: var(--cor-principal);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.button-list-one-part2,
.button-list-two-part2 {
    background-color: var(--cor-background-cinza);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.button-list-one:hover {
    transform: scale(1.1);
    transition: 1s;
}

.button-list-two:hover {
    transform: scale(1.1);
    transition: 1s;
}

.texto-icon-one {
    color: white;
    font-weight: 600;
    background-color: var(--cor-botao);
    padding: 1em;
    border-radius: 10px;
}

.texto-icon-one:hover {
    background-color: var(--cor-botao-hover);
}

.texto-icon-one:active {
    border: 5px solid #5081FB;
}

.img-icon-menu-aside {
    width: 100%;
    background-color: var(--cor-botao-comunidade);
    padding: 1em;
    border-radius: 10px;
}

.img-icon-menu-aside:hover {
    background-color: var(--cor-botao-comunidade-hover);
}

.img-icon-menu-aside:active {
    border: 5px solid #5081FB44;
}



.button-list-span-one {
    color: var(--cor-font-principal);
    font: 300;
    font-size: 14px;
    list-style: none;
    text-decoration: none;
}

.button-list-span-two {
    color: var(--cor-font-cinza);
    font: 300;
    font-size: 14px;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* ESTILIZANDO A SECTION MAIN */
.section-main {
    width: 50em;
    height: 133px;
}

.box-edit-text-main {
    background-color: var(--cor-background-one);
    width: 47em;
    height: 23em;
    border-radius: 10px;
    padding: 2em;
}

.box-edit-text-submain {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--cor-background-black);
}

.span-ball {
    display: flex;

}

.ball-one {
    background-color: var(--cor-bolinha-vermelho);
    width: 11px;
    height: 11px;
    border-radius: 50px;
    margin: 0.8em 0 0.8em 1em;
}

.ball-two {
    background-color: var(--cor-bolinha-laranja);
    width: 11px;
    height: 11px;
    border-radius: 50px;
    margin: 0.8em 0 0.8em 0.5em;
}

.ball-three {
    background-color: var(--cor-bolinha-verde);
    width: 11px;
    height: 11px;
    border-radius: 50px;
    margin: 0.8em 0 0.8em 0.5em;
}

.box-text-main {
    margin: 1em 1em 1em 1em;
    width: 96%;
    height: 84%;
    background-color: var(--cor-background-black);
    border: 1px var(--cor-background-black);
    color: var(--cor-font-principal);
    outline: none;
    resize: none;
    font-family: var(--font-family-ro);
    font-size: 14px;
    
}

.preview {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    color: white;
}
.codigo-wrapper code {
    white-space: pre-wrap;
}
.preview:focus {
    outline: none;
}

.codigo-wrapper {
    height: 100%;
    margin-bottom: 32px;
    border: 30px solid var(--cor-background-one);
    border-radius: 35px;
    background-color: #002451;
}

.button-highlight {
    margin: 2em 1em;
    color: white;
    background-color: var(--cor-background-cinza);
    width: 95%;
    border: none;
    padding: 1.2em;
    border-radius: 7px;
    font-weight: 100;
    font-family: var(--font-family);
    font-size: 16px;
}

.button-highlight:hover {
    background-color: #FFFFFF69;
    cursor: pointer;
    transition: 1s;
    transform: scale(1.05);
}

/* ESTILIZANDO OUTRO ASIDE */

.titulo-aside-right {
    color: var(--cor-font-principal);
    font-weight: 300;
    font-size: 12px;
    padding-left: 3em;
}

.box-projeto-nome {
    background-color: var(--cor-background-cinza);
    width: 200px;
    padding: 1.2em;
    border: 1px;
    border-radius: 10px;
    margin: 1em 2.5em 0.5em 2.5em;
    color: white;
}

.box-projeto-nome:hover {
    background-color: #FFFFFF69;
}


.box-projeto-nome::placeholder,
.box-projeto-descrição::placeholder {
    color: var(--cor-font-cinza);
}

.box-projeto-descrição {
    width: 232px;
    height: 80px;
    box-sizing: border-box;
    margin: 1em 2.5em 0.5em 2.5em;
    padding: 1.2em;
    border: 1px;
    border-radius: 10px;
    background-color: var(--cor-background-cinza);
    resize: none;
    font-family: "Inter", sans-serif;
    color: white;
}

.box-projeto-descrição:hover {
    background-color: #FFFFFF69;
}

.titulo-aside-right-down {
    color: var(--cor-font-principal);
    font-weight: 300;
    font-size: 12px;
    padding-left: 3em;
    margin-top: 3em;
}

.seletor-aside-right {
    background-color: var(--cor-background-cinza);
    border: 1px;
    border-radius: 10px;
    padding: 1.2em;
    width: 232px;
    margin: 1em 2.5em 0.5em 2.5em;
    color: var(--cor-font-cinza);
    position: relative;
}

.seletor-aside-right:hover {
    background-color: #FFFFFF69;
}

.seletor-aside-right-item {
    background-color: var(--cor-background-cinza);
    border: 1px;
    border-radius: 10px;
    padding: 1.2em;
    width: 232px;
    margin: 1em 2.5em 0.5em 2.5em;
    color: var(--cor-font-cinza);
    position: relative;
}

.box-selecting {
    background-color: #6BD1FF;
    width: 232px;
    height: 55px;
    margin: 1em 2.5em 0.5em 2.5em;
    background-color: var(--cor-principal);
    border: 1px solid white;
    border-radius: 7px;
    padding: 0.25em;
    cursor: pointer;
}

.botao-salvar-projeto {
    width: 232px;
    height: 55px;
    margin: 1.5em 2.5em 0.5em 2em;
    border-radius: 10px;
    background-color: var(--cor-botao);
    border: 2px;
    font-family: var(--font-family);
    font-size: 16px;
}

.botao-salvar-projeto:hover {
    background-color: var(--cor-botao-hover);
    cursor: pointer;
    transition: 1s;
    transform: scale(1.05);
}

.menu,
#menu-hamburguer,
#menu-hamburguer-1,
.menu-icon,
.menu-icon-x,
.hr,
.container-figure-menu {
    display: none;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {

    #menu-hamburguer,
    #menu-hamburguer-1,
    .menu-icon,
    .hr,
    .lista-menu-item,
    .button-list-span-one,
    .button-list-span-two,
    .container-figure-menu,
    .texto-icon-one {
        display: block;
    }

    .logo-plataforma {
        width: 200px;
    }

    .barra-de-busca {
        width: 30em;
    }

    .container-figure {
        display: none;
    }

    .section-principal {
        display: block;
    }

    .aside-left {
        display: none;
    }

    .aside-right {
        display: none;
    }

    .menu {
        display: none;
        position: fixed;
        top: 100px;
        right: 50px;
        width: 250px;
        height: 100%;
        background-color: var(--cor-background-cinza);
        transition: left 0.3 ease;
        border-radius: 10px;
    }

    .menu li {
        list-style: none;
        padding: 0.5em 0 0.5em 0;
    }

    .menu ul {
        padding: 0.5em;
    }

    .container-figure-menu {
        padding-top: 1em;
    }

    #menu-hamburguer {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    #menu-hamburguer-1 {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .menu-icon {
        font-size: 30px;
        color: white;
        padding: 0.5em;
        display: block;
    }

    .menu-icon-x {
        font-size: 30px;
        color: white;
        padding: 0.5em;
        padding-top: 0;
        display: none;

    }

    .hr {
        border: none;
        border-top: 1px solid #FFFFFF29;
    }

    .box-edit-text-main {
        width: 40em;
        margin: 2em;
    }

    .button-highlight {
        margin: 0 3em;
        width: 44em;
        background-color: #0B254A;
    }

    .aside-right {
        display: block;
        margin-top: 28em;
    }

    .box-projeto-nome {
        width: 87%;
    }

    .box-projeto-descrição {
        width: 91%;
    }

    .separar-tablet-personalizacao {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .seletor-aside-right {
        width: 46%;
        margin: 0.5em 0.5em 0.5em 2.3em;
    }

    .box-selecting {
        width: 340px;
        margin: 0.5em 2.3em 0.5em 0.5em;
    }

    .botao-salvar-projeto {
        width: 91%;
    }

    .container-figure-menu {
        margin: 0.5em;
        padding: 0;
        display: flex;
        align-items: center;
    }
    .nave{
        display: block;
    }
    .codigo-wrapper{
        margin: 2em;
    }
    .aside-right{
        margin-top: 0em;
    }
}

@media screen and (min-width: 324px) and (max-width: 768px) {
    .logo-plataforma {
        width: 300px;
    }

    .barra-de-busca {
        display: none;
    }

}